/*
	Shared CSS
*/
nav {
	text-align: center;
	list-style-type: square;
	vertical-align: center;
	position: sticky;
	width: 100%;
	margin: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: #aa42f4;
	opacity: 0.8;
}

nav li:hover {
	opacity: 0.5;
	background-color: #ca86f9;
}

nav li {
	padding: 3% 0 3% 0;
}

nav a {
	text-decoration: none;
}

.menuItems {
	list-style-type: none;
	font-size: 125%;
	margin: 0;
	columns: 4;
 	column-gap: 0;
	padding-left: 0;
	font-family: 'Play', sans-serif;
}

header {
	position: relative;
	width: 100%;
	background-color: #3a0272;
	opacity: 0.8;
	padding: 1% 0 0 0;
	/*top, right, bottom, left*/
}

.headerPics {
	max-width: 80%;
	max-height: 60%;
	float: center;
}

#headerPicDiv {
	width: 20%;
	max-height: 120px;
}

a {
	color: inherit;
}

a:visited {
	text-decoration: initial;
}

a:hover, a:focus {
	text-decoration: inherit;
	box-shadow: inherit;
}

#banner {
	width: 100%;
	display: inline-flex;
}

.bannerItem {
	width: 40%;
}

#name {
	text-align: center;
	font-size: 300%;
	color: whitesmoke;
	font-family: 'Megrim', cursive;
	padding: 2% 0;
	vertical-align: middle;
}

#contacts {
	font-size: medium;
	color: whitesmoke;
	text-align: left;
	font-family: 'Abel', sans-serif;
	vertical-align: middle;
}

body {
	background-image: url('../images/publicPics/Manukau.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	margin: 0;
}

.content {
	background-color: rgba(174,145,224,0.5);
	padding: 2%;
	margin: 1% 10%;
	border-radius: 25px;
	font-family: 'Play', sans-serif;
}

.content p {
	color: #2a0044;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	background-color: #3a0272;
	opacity: 0.8;
	color: whitesmoke;
	font-size: medium;
	font-family: 'Abel', sans-serif;
	text-align: center;
	margin-top: 10%;
	padding: 2% 0;
	display: inline-flex;
	justify-content: center;
}

footer div {
	padding: 0 1%;
}

footer ol {
	margin: 0;
}

#footerInfo {
	padding: 0 5%;
	text-align: left;
}

.inlineImage {
	display: inline;
	height: 16px;
}

#randomQuote {
	text-align: right;
	color: white;
}
