/*
	Homepage CSS
*/

a:hover, a:focus {
	text-decoration: inherit;
}

.home div {

}

.header nav {
	color: white;
	position: sticky;
	top: 0; /* Makes header stick to top */
	z-index: 10;

}

.menu {
	background-color: yellow;
	color: purple;
}

.menu:hover {
	color: white;
}

.content {
	columns: 2;
}

body {
	background-color: purple;
	background-size: 100% 100%;
}

