/*
	Homepage CSS
*/
nav {
	position: relative;
	top: 100px;
	border: 3px solid black;
	color: white;
	text-align: center;
	list-style-type: square;
	vertical-align: center;
}

header {
	position: absolute;
    top: 80px;
    width: 90%;
    height: 100px;
	background-color: green;
	vertical-align: center;
}

a:hover, a:focus {
	text-decoration: inherit;
	box-shadow: inherit;
}

.menuItems {
	background-color: yellow;
	color: purple;
	font-size: 16px;
}

.menuItems:hover {
	color: white;

}

.content {
	width: 80%;
	background-color: red;
}

#name {
	position: absolute;
	width: 45%;
	left: 10%;
	text-align: left;
	font-size: 30px;
}

#contacts {
	position: absolute;
	width: 45%;
	right: 10%;
	font-size: 15px;
}

#randomQuote {
	text-align: right;
	color: white;
}

body {
	background-color: purple;
	background-size: 100% 100%;
}
