/*
	Homepage CSS
*/

a:hover, a:focus {
	text-decoration: inherit;
	box-shadow: inherit;
}

.menu {
	background-color: yellow;
	color: purple;
	font-size: 16px;
}

.menu:hover {
	color: white;
}

.content {
	width: 80%;
	background-color: red;
}

#header nav {
	color: white;
	position: sticky;
	top: 0; /* Makes header stick to top */
	z-index: 10;
	text-align: center;
}

#name div {
	text-align: left;
	font-size: 30px;
}

#contacts div {
	text-align: right;
	font-size: 15px;
	vertical-align: right;
}

#randomQuote {
	text-align: right;
	color: white;
}

header {
	width: 90%;
	background-color: green;
	margin: 5% 5% 5% 5%;
}

body {
	background-color: purple;
	background-size: 100% 100%;
}

